<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Component</title>
    <link rel="stylesheet" href="image.css">
</head>
<body>
    
    <div class="flex-container-vertical">
        
        <h3>Image Component</h3>
        <ul>
            <li>Responsive image</li>
            <li>Rounded image</li>
        </ul>

        <div class="img-container">
            <img class="img-responsive" src="https://picsum.photos/500" />
        </div>
        <div class="img-container">
            <img class="img-responsive img-rounded" src="https://picsum.photos/500" />
        </div>

    </div>

</body>
</html>