@import url("../../default.css");

.img-container{
    height: 60rem;
    width: 60rem;
}

.img-responsive{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.img-rounded{
    border-radius: 50%;
}