<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="grid.css" />
  </head>
  <body>
    <div class="flex-container-vertical">
      <h3>Grid</h3>
      <ul class="list">
        <li>grid-2: two items in a grid</li>
        <li>grid-3: three items</li>
      </ul>
    </div>

    <div class="grid-container grid-2 bg-primary">
      <div class="card grid-item">
        <p class="card-title">Title goes here</p>
        <p class="card-subtitle">SubText</p>
        <img class="card-img" src="https://picsum.photos/300/200" />
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi in
          consequuntur quis.
        </p>
        <div class="card-actions">
          <button class="btn btn-primary">Read</button>
          <button class="btn btn-secondary">Button</button>
          <i class="card-icon material-icons">favorite_border</i>
          <i class="card-icon material-icons">share</i>
          <i class="card-icon material-icons">more_vert</i>
        </div>
      </div>
      <div class="card grid-item">
        <p class="card-title">Title goes here</p>
        <p class="card-subtitle">SubText</p>
        <img class="card-img" src="https://picsum.photos/300/200" />
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi in
          consequuntur quis.
        </p>
        <div class="card-actions">
          <button class="btn btn-primary">Read</button>
          <button class="btn btn-secondary">Button</button>
          <i class="card-icon material-icons">favorite_border</i>
          <i class="card-icon material-icons">share</i>
          <i class="card-icon material-icons">more_vert</i>
        </div>
      </div>
    </div>

    <div class="grid-container grid-3 bg-warn">
      <div class="card grid-item">
        <p class="card-title">Title goes here</p>
        <p class="card-subtitle">SubText</p>
        <img class="card-img" src="https://picsum.photos/300/200" />
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi in
          consequuntur quis.
        </p>
        <div class="card-actions">
          <button class="btn btn-primary">Read</button>
          <button class="btn btn-secondary">Button</button>
          <i class="card-icon material-icons">favorite_border</i>
          <i class="card-icon material-icons">share</i>
          <i class="card-icon material-icons">more_vert</i>
        </div>
      </div>

      <div class="card grid-item">
        <p class="card-title">Title goes here</p>
        <p class="card-subtitle">SubText</p>
        <img class="card-img" src="https://picsum.photos/300/200" />
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi in
          consequuntur quis.
        </p>
        <div class="card-actions">
          <button class="btn btn-primary">Read</button>
          <button class="btn btn-secondary">Button</button>
          <i class="card-icon material-icons">favorite_border</i>
          <i class="card-icon material-icons">share</i>
          <i class="card-icon material-icons">more_vert</i>
        </div>
      </div>

      <div class="card grid-item">
        <p class="card-title">Title goes here</p>
        <p class="card-subtitle">SubText</p>
        <img class="card-img" src="https://picsum.photos/300/200" />
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi in
          consequuntur quis.
        </p>
        <div class="card-actions">
          <button class="btn btn-primary">Read</button>
          <button class="btn btn-secondary">Button</button>
          <i class="card-icon material-icons">favorite_border</i>
          <i class="card-icon material-icons">share</i>
          <i class="card-icon material-icons">more_vert</i>
        </div>
      </div>
    </div>
  </body>
  <!-- Not related to component library, please ignore -->
  <style>
    .flex-container-vertical {
      gap: 5rem;
      margin: 5rem;
    }

    .grid-container{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
  </style>
</html>
