@import url("./components//button/button.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #50a8eb;
  /* --primary-color: #62a9df; */
  --secondary-color: #b86f52;
  --black: #070707;
  --black-2: #4e4b4b;
  --white: #f0f0f0;
  --warn: #f1c404;
  --danger: #ef233c;
  --success: #00a878;
  --gray: #959598;

  --primary-dark: #3775a4;
  --secondary-dark: #804731;
  --warn-dark: #c2a00d;
  --danger-dark: #ba2e3f;
  --success-dark: #188464;
  --gray-dark: #6d6d70;

  --primary-light: #84bae4;
  --secondary-light: #b88d7c;
  --warn-light: #e7cf66;
  --danger-light: #e95768;
  --success-light: #4ac7a4;
  --gray-light: #c9c9ce;

  --purple: #d972ff;
  --yellow: #fff275;
  --black-pure: black;
  --white-pure: white;
}

html{
  font-size: 62.5%;
  background-color: var(--white);
}

.bg-primary{
  background-color: var(--primary-color);
}

.bg-secondary{
  background-color: var(--secondary-color);
}

.bg-gray{
  background-color: var(--gray);
}

.bg-black{
  background-color: var(--black);
}

.bg-white{
  background-color: var(--white);
}

.bg-warn{
  background-color: var(--warn);
}

.bg-danger{
  background-color: var(--danger);
}

.bg-success{
  background-color: var(--success);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.warn {
  color: var(--warn);
}

.danger {
  color: var(--danger);
}

.success {
  color: var(--success);
}


h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.08rem;
}

h4,
p,
li {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.28rem;
}

h6 {
  font-size: 11.12rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
