@import url("./components//button/button.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #50a8eb;
  /* --primary-color: #62a9df; */
  --secondary-color: #b86f52;
  --black: #070707;
  --black-2: #4e4b4b;
  --white: #f0f0f0;
  --warn: #f1c404;
  --danger: #ef233c;
  --success: #00a878;
  --gray: #959598;

  --primary-dark: #3775a4;
  --secondary-dark: #804731;
  --warn-dark: #c2a00d;
  --danger-dark: #ba2e3f;
  --success-dark: #188464;
  --gray-dark: #6d6d70;

  --primary-light: #84bae4;
  --secondary-light: #b88d7c;
  --warn-light: #e7cf66;
  --danger-light: #e95768;
  --success-light: #4ac7a4;
  --gray-light: #c9c9ce;

  --purple: #d972ff;
  --yellow: #fff275;
  --black-pure: black;
  --white-pure: white;

  --box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  --slider-box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
  --modal-bg: rgba(0, 0, 0, 0.5);
  --gray-transparent:#4a4a4a24;
}

html {
  font-size: 62.5%;
  background-color: var(--white);
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-gray {
  background-color: var(--gray) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-warn {
  background-color: var(--warn) !important;
}

.bg-danger {
  background-color: var(--danger) !important;
}

.bg-success {
  background-color: var(--success) !important;
}

.primary {
  color: var(--primary-color) !important;
}

.secondary {
  color: var(--secondary-color) !important;
}

.gray {
  color: var(--gray) !important;
}

.black {
  color: var(--black) !important;
}

.white {
  color: var(--white) !important;
}

.warn {
  color: var(--warn) !important;
}

.danger {
  color: var(--danger) !important;
}

.success {
  color: var(--success) !important;
}

.gray-dark {
  color: var(--gray-dark) !important;
}

.bg-white-pure {
  background-color: var(--white-pure) !important;
}

.white-pure {
  color: var(--white-pure) !important;
}

.bg-white-pure {
  background-color: var(--white-pure) !important;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.08rem;
}

h4,
p,
label,
input,
li {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.28rem;
}

h6 {
  font-size: 1.12rem;
}

.input{
  border: 2px solid var(--black);
  padding: 6px;
  border-radius: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1rem;
}
.flex-col {
  flex-direction: column;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.hidden {
  display: none !important;
}

.block{
  display: block !important;
}

.position-abs {
  position: absolute;
}

.position-rel {
  position: relative;
}

.position-fix {
  position: fixed;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.link {
  color: var(--black);
  text-decoration: none;
}

.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}