@import url("../../default.css");

.avatar{
  border-radius: 50%;
  object-fit: cover;
}

.avatar-xs {
  height: 4rem;
  width: 4rem;
}

.avatar-sm {
  height: 6.4rem;
  width: 6.4rem;
}

.avatar-md {
  height: 9.6rem;
  width: 9.6rem;
}

.avatar-lg {
  height: 12rem;
  width: 12rem;
}

.avatar-initial{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}