<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="avatar.css" />
    <title>Avatar</title>
  </head>
  <body>
    <h1>Avatar Component</h1>

    <p>Extra small, Small, medium and large avatar components</p>

    <div class="flex-container">
      <img class="avatar avatar-xs" src="assets/img-1.jpg" alt="image-1" />
      <img class="avatar avatar-sm" src="assets/img-1.jpg" alt="image-2" />
      <img class="avatar avatar-md" src="assets/img-1.jpg" alt="image-3" />
      <img class="avatar avatar-lg" src="assets/img-1.jpg" alt="image-4" />
    </div>

    <div class="flex-container">
      <p class="avatar avatar-xs avatar-initial">SC</p>
      <p class="avatar avatar-sm avatar-initial bg-secondary">SC</p>
      <p class="avatar avatar-md avatar-initial bg-success">SC</p>
      <p class="avatar avatar-lg avatar-initial bg-danger">SC</p>
    </div>
  </body>

  <style>
    div {
      margin: 5rem;
    }
  </style>
</html>
