<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation</title>
    <link rel="stylesheet" href="navigation.css" />
  </head>
  <body>
      <h3 class="text-center">Navigation (simple)</h3>
      <p class="text-center">
          Just a couple of examples for navigation component
      </p>
    <header class="navbar-container">
      <h2 class="nav-logo">LOGO</h2>
      <nav>
        <ul class="list nav-links">
          <li>
            <a class="link btn btn-primary" href="#">Sign In</a>
          </li>
          <li>
            <a class="link btn btn-primary-ol" href="#">Sign Up</a>
          </li>
          <li>
            <a class="link btn btn-primary-ol" href="#">Home</a>
          </li>
          <li>
            <a class="link btn btn-primary-ol" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <header class="navbar-container">
      <h2 class="nav-logo">LOGO</h2>
      <input type="text" />
      <nav>
        <ul class="list nav-links">
          <li>
            <a class="link btn btn-primary" href="#">Sign In</a>
          </li>
          <li>
            <a class="link btn btn-primary-ol" href="#">Sign Up</a>
          </li>
          <li>
            <a class="link btn btn-primary-ol" href="#">Home</a>
          </li>
          <li>
            <a class="link btn btn-primary-ol" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
  <!-- Not related to component library, please ignore -->
  <style>
    header {
      margin: 5rem;
    }
    input {
      width: 30rem;
    }
    p{
        margin: 2rem;
    }
  </style>
</html>
