<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert Component</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="alert.css">
</head>
<body>
    <h3>Alerts</h3>
    <ul>
        <li>Primary alert</li>
        <li>Secondary alert</li>
        <li>Success alert</li>
        <li>Warning alert</li>
        <li>Error alert</li>
    </ul>
    <div class="flex-container-vertical">
        <p class="alert bg-primary">
            <i class="material-icons">notifications</i>
            Have some water
        </p>

        <p class="alert bg-secondary">
            <i class="material-icons">notifications</i>
            Take a break, Look away from the screen
        </p>
        <p class="alert bg-success">
            <i class="material-icons">done</i>
            Task completed successfully
        </p>
    
        <p class="alert bg-warn">
            <i class="material-icons">warning</i>
            Are you sure that you wanna delete?
        </p>
    
        <p class="alert bg-danger">
            <i class="material-icons">dangerous</i>
            Something went wrong
        </p>



    </div>
</body>
<style>
    html{
        text-align: center;
    }
  div {
    margin: 5rem;
  }
</style>
</html>